.mc
.vscode
**.tgz
agentconfig.json
images/
**.ts
tslint.json
tsconfig.json
Dockerfile.*
Dockerfile
CONTRIBUTING
build.sh
.gitlab-ci.yml
.dockerignore
mdsp_meta.yml
Jenkinsfile
Docker
.github
.prettierrc.yaml
.prettierignore
report.xml
.nyc_output

