/* Copyright Siemens AG, 2017 */

#_msbar:before {
    content: " ";
    display: block;
    position: relative;
    top: -4px;
    left: 0;
    right: 0;
    height: 4px;
    background-image: -owg-linear-gradient(to right, #50bebe 0%, #099 33%, #0099b0 66%, #0099cb 100%);
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#50bebe),
        color-stop(33%, #099),
        color-stop(66%, #0099b0),
        to(#0099cb)
    );
    background-image: linear-gradient(to right, #50bebe 0%, #099 33%, #0099b0 66%, #0099cb 100%);
    margin: 0, 0, 0, 0;
}

#_msbar {
    left: 0;
    right: 0;
    height: 40px;
    font-size: 16px;
    color: white;
    background: black;
    text-align: left;
    margin-bottom: 20px;
    vertical-align: middle;
    height: 40px;
}

.ghostLink {
    color: #235461;
    background: #eeeeee;
    border-radius: 7px;
    font-size: 12px;
    padding: 5px 10px;
    font-weight: normal;
    margin: 1px 0;
    /* margin-right: 10px;
    margin-bottom: 3px; */
    display: inline-block;
    text-decoration: none;
    min-width: 12px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.ghostLink:hover,
.ghostLink:active {
    background-color: #bbd0d7;
    color: #000;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.headerLink {
    color: #ffffff !important;
    text-decoration: none !important;
}
.headerLink:focus {
    color: #ffffff !important;
    text-decoration: none !important;
}
.headerLink:hover {
    color: #00bfa5 !important;
    text-decoration: none !important;
}

.deleteLink:hover {
    background-color: #fcd3d2 !important;
    text-decoration: none !important;
    /* font-size: 150% !important; */
    cursor: pointer !important;
}

.diagLink:hover {
    color: #009999 !important;
    text-decoration: none !important;
    /* font-size: 150% !important; */
    cursor: pointer !important;
}
